---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import { Image } from 'astro:assets';
import VinCard from "../components/VinCard.astro";
import MadVin from '../components/MadVin.astro';
import Trustpilot from '../components/Trustpilot.astro';

import LandingImage1 from "../assets/images/landing_1.webp";
import LandingImage2 from "../assets/images/landing_2.webp";
import Vin1 from "../assets/images/vin1.svg";
import Vin2 from "../assets/images/vin2.svg";
import Vin3 from "../assets/images/vin3.svg";
import Vin4 from "../assets/images/vin4.svg";
import Vin5 from "../assets/images/vin5.svg";
import Vin6 from "../assets/images/vin6.svg";
import Vin7 from "../assets/images/vin7.svg";
import Vin8 from "../assets/images/vin8.svg";
import MobilJoinThe from "../assets/images/mobil_join_the.svg";
import MobilClub from "../assets/images/mobil_club.svg";
import DesktopJoinTheClub from "../assets/images/desktop_join_the_club.svg";
import HvadErNaturvin1 from "../assets/images/hvad_er_naturvin1.webp";
import HvadErNaturvin2 from "../assets/images/natural wine framing.webp";
import JusteleRouge from "../assets/images/2021, Terra Ambra.webp";
import GavelSauvignon from "../assets/images/2022, Gavel Sauvignon.webp";
import TerraAmbra from "../assets/images/2023, Juste le Rouge.webp";
import RasmusOgMichael from "../assets/images/rasmusogmichael.webp";
import ReduktivButik from "../assets/images/Reduktiv_butik.webp";
import flyve1 from "../assets/images/flyve1.webp";
import flyve2 from "../assets/images/flyve2.webp";
import flyve3 from "../assets/images/flyve3.webp";
import flyve4 from "../assets/images/flyve4.webp";
import flyve5 from "../assets/images/flyve5.webp";
import flyve6 from "../assets/images/flyve6.webp";

---

  <MainLayout title="Naturvinskassen">

    <article class=" h-full py-xl pt-36 md:pt-40 relative max-w-[1000px] mx-auto p-sm">
      <!-- tekst -->

      <section class="flex flex-row gap-m lg:gap-2xl">

        <!-- vinflasker -->
        <div class="flex-col md:flex  gap-xs w-[10%] lg:w-[8%] hidden h-[70vh] lg:h-[80vh]">
          <Image src={Vin1} alt="Vin1" class="vippe h-full w-full object-contain aspect-[33/100]" />
          <Image src={Vin2} alt="Vin2" class="vippe delay h-full  w-full object-contain aspect-[33/100]" />
          <Image src={Vin3} alt="Vin3" class="vippe  h-full  w-full object-contain aspect-[33/100]" />
          <Image src={Vin4} alt="Vin4" class="vippe delay h-full  w-full object-contain aspect-[33/100]" />
        </div>

        <!-- headline og landing pics -->
        <div class="">
          <div class=" relative">
            <!-- desktop headline -->
            <div
             class="relative">
              <Image  src={DesktopJoinTheClub} alt="Join The Club!" class="z-10 p-xs absolute hidden md:block -top-32" />
            </div>
          <!-- <Image  src={DesktopJoinTheClub} alt="Join The Club!" class="p-xs absolute hidden md:block -top-32" />
        
          <Image src={MobilJoinThe} alt="Join The" class="w-[70%] max-w-[337px] absolute top-[-80px] left-1/2 -translate-x-1/2 z-10 block md:hidden" />
          <Image src={MobilClub} alt="Club!" class="w-[50%] max-w-[215px] absolute bottom-[-80px] left-1/2 -translate-x-1/2 z-10 block md:hidden" /> -->
            <div
             class="grid grid-cols-2 md:gap-xs px-lg md:px-0 z-0">
                <Image
                data-aos="fade-right"
                data-aos-duration="1000" src={LandingImage1} alt="Landing Image 1" class="" />
                <Image
                  data-aos="fade-left"
                data-aos-duration="1000"
                 class="pt-[70%]  md:pt-0" src={LandingImage2} alt="Landing Image 2"  />
            </div>

            <!-- mobil headline -->
            <div class="">
            <Image src={MobilJoinThe} alt="Join The" class="w-[85%]  absolute top-[-98px] left-1/2 -translate-x-1/2 z-10 block md:hidden" />
            <Image src={MobilClub} alt="Club!" class="w-[50%] absolute bottom-[-70px] left-1/2 -translate-x-1/2 z-10 block md:hidden" />
            </div>
          </div>

        <!-- headline3 og knap -->
          <div class="grid gap-xs md:gap-sm">
              <h3
                data-aos="fade-up"
               class="md:text-center pt-5xl md:pt-sm">
                Modtag <span class="font-bold">naturvin</span> på <span class="font-bold">abonnement</span>. Modtag tre flasker
                udvalgt naturvin, hver måned! Kom tæt på vinbønderne og få et autentisk indblik i den naturlige vinverden,
                måned efter måned.
              </h3>
              <a
              data-aos="fade-up"
               class="flex justify-center" href="/naturvinskassen">
                <Button variant="stroke">Læs mere her</Button>
              </a>
          </div>
        </div>

        <!-- vinflasker -->
        <div class="flex-col md:flex  gap-xs w-[10%] lg:w-[8%] hidden h-[70vh] lg:h-[80vh] ">
          <Image src={Vin5} alt="Vin1" class="vippe h-full object-contain aspect-[33/100]" />
          <Image src={Vin6} alt="Vin2" class="vippe delay h-full object-contain aspect-[33/100]" />
          <Image src={Vin1} alt="Vin1" class="vippe  h-full w-full object-contain aspect-[33/100]" />
          <Image src={Vin2} alt="Vin2" class="vippe delay h-full  w-full object-contain aspect-[33/100]" />
        </div>

      </section>
     

    </article>
  <!-- HERO SEKTION
  <div class="max-w-[1000px] relative w-[455px] mt-[120px] mx-auto h-[755px] flex flex-col items-center z-[0] md:w-[897px] md:h-[799px] md:mt-[100px]"> -->
    <!-- Images -->
    <!-- <div class="absolute flex justify-center top-[110px] z-0 md:top-[100px] md:gap-xs"> -->
      <!-- Left and Right Images -->
      <!-- <Image src={LandingImage1} alt="Landing Image 1" class="w-[190px] h-auto ml-[40px] mb-[80px] md:w-[35%] md:ml-0 md:mb-0" />
      <Image src={LandingImage2} alt="Landing Image 2" class="w-[190px] h-auto mr-[40px] mt-[80px] md:w-[35%] md:mr-0 md:mt-0" />
    </div> -->

    <!-- Desktop Wine Doodles -->
    <!-- <div class="hidden md:flex flex-col gap-[20px] absolute left-0 h-[480px]">
      <Image src={Vin1} alt="Vin1" class="w-[33px] h-full object-contain" />
      <Image src={Vin2} alt="Vin2" class="w-[33px] h-full object-contain" />
      <Image src={Vin3} alt="Vin3" class="w-[27px] h-full object-contain" />
      <Image src={Vin4} alt="Vin4" class="w-[24px] h-full object-contain" />
    </div>
    <div class="hidden md:flex flex-col gap-[25px] absolute right-0 h-[480px]">
      <Image src={Vin5} alt="Vin5" class="w-[47px] h-full object-contain" />
      <Image src={Vin6} alt="Vin6" class="w-[47px] h-full object-contain" />
      <Image src={Vin7} alt="Vin7" class="w-[47px] h-full object-contain" />
      <Image src={Vin8} alt="Vin8" class="w-[46px] h-full object-contain" />
    </div>  -->

    <!-- Mobile SVGs -->
    <!-- <Image src={MobilJoinThe} alt="Join The" class="w-[70%] max-w-[337px] absolute top-[20px] left-1/2 -translate-x-1/2 z-10 block md:hidden" />
    <Image src={MobilClub} alt="Club!" class="w-[50%] max-w-[215px] absolute top-[430px] left-1/2 -translate-x-1/2 z-10 block md:hidden" /> -->

    <!-- Desktop SVG -->
     <!-- <div>
        <Image  src={DesktopJoinTheClub} alt="Join The Club!" class="hidden md:block absolute left-1/2 -translate-x-1/2 max-w-[640px] z-10" />
     </div> -->

    <!-- Text Section -->
    <!-- <div class="absolute bottom-[120px] text-left px-xs w-full md:bottom-[100px] md:text-center md:w-[685px] md:mx-auto">
      <h3 class="">
        Modtag <span class="font-bold">naturvin</span> på <span class="font-bold">abonnement</span>. Modtag tre flasker
        udvalgt naturvin, hver måned! Kom tæt på vinbønderne og få et autentisk indblik i den naturlige vinverden,
        måned efter måned.
      </h3>
    </div> -->

    <!-- Button -->
    <!-- <div class="absolute bottom-[60px] right-0 pr-xs md:pr-0 md:text-right md:bottom-[30px]">
      <Button variant="stroke">Læs mere her!</Button>
    </div>
  </div> -->



  <!-- HVAD ER NATURVIN SEKTION -->
  <div class="bg-offwhite">
  <div class="max-w-[1100px] mx-auto mt-2xl relative w-full bg-offwhite pb-ml">
    <!-- Grid Container -->
    <div class="md:grid md:grid-cols-2 md:gap-ml md:p-ml md:items-start">
      <!-- Images -->
       <div data-aos="fade-up" class="flex flex-col md:gap-ml">
        <Image src={HvadErNaturvin1} alt="Mand der hælder vin op" class="w-full h-[350px] object-cover md:h-auto" />
        <Image src={HvadErNaturvin2} alt="Billede af vin" class="w-full h-[350px] object-cover md:h-auto" />
      </div> 

      <!-- Text Section -->
       <div data-aos="fade-up" class="mt-ml px-xs md:px-[0px] md:sticky md:top-[20%] md:self-start">
        <h1 class="italic mb-xxs md:mb-sm text-orange-500">
          Hvad er naturvin?
        </h1>
        <p class="mb-sm">
          Naturvin lader naturen tale – fremstillet uden tilsætningsstoffer, kunstig gær eller kemi. Druerne dyrkes økologisk, 
          og produktionen sker med minimal indgriben, hvilket gør hver flaske unik og levende.<br /><br />
          I modsætning til almindelig vin, der ofte standardiseres med tilsætningsstoffer, er naturvin ufiltreret og uforudsigelig. 
          Smagen varierer og er ofte mere kompleks, skabt i små partier af passionerede vinbønder med fokus på bæredygtighed.
        </p>
      </div> 
    </div>
  </div>
  </div>




  <!-- MÅNEDENS VINE SEKTION -->
  <div class="">
  <div class="max-w-[1500px] mx-auto mt-8xl px-xs flex flex-col items-center">
    <!-- Section Title -->
    <div data-aos="fade-up" class="text-center">
      <h1 class="italic mb-sm text-orange-500">
      Se vine i denne måneds kasse
      </h1>
    </div>
    
    <!-- Vin Cards -->
     <div class="grid gap-s md:grid md:grid-cols-3  md:mt-ml">
      <div data-aos="fade-up"
      data-aos-delay="">
        <VinCard
        title="2023, Juste le Rouge"
        imageSrc={JusteleRouge.src}
        kraftig={3}
        tor={4}
        frisk={5}
        description="En let og levende rødvin fra Loire-dalen i Frankrig, fremstillet på Gamay-druer. Denne vin er et klassisk eksempel på naturvinens friske og ufiltrerede stil. Perfekt til lette retter eller som en aperitif."
        notes="Røde bær som hindbær og jordbær, en snert af viol og en let krydret eftersmag. Frisk og sprød med en saftig syre."
        />
      </div>

      <div data-aos="fade-up"
      data-aos-delay="200">
        <VinCard
        title="2022, Gavel Sauvignon"
        imageSrc={GavelSauvignon.src}
        kraftig={2}
        tor={5}
        frisk={4}
        description="En aromatisk og struktureret hvidvin fra Steiermark i Østrig, fremstillet på Sauvignon Blanc. Denne vin er gæret med naturlig gær og lagret kortvarigt på ståltanke for at bevare sin friskhed og mineralske karakter."
        notes="Stikkelsbær, grøn peber og et hint af grapefrugt. En elegant mineralitet og frisk syre gør den ideel til salater og fiskeretter."
        />
      </div>

      <div data-aos="fade-up"
      data-aos-delay="400">
        <VinCard
        title="2021, Terra Ambra"
        imageSrc={TerraAmbra.src}
        kraftig={4}
        tor={4}
        frisk={3}
        description="En unik orangevin fra Friuli, Italien, fremstillet på Friulano-druer. Druerne gærer med skallerne i fire uger, hvilket giver vinen sin ravfarvede tone og tanninstruktur."
        notes="Abrikoser, appelsinskal og et strejf af mandler. Fyldig og tekstureret med en let tanninstruktur, der gør den perfekt til krydrede retter eller fede oste."
        />
      </div>
    </div>
  </div> 



  <!-- MAD & VIN SEKTION -->
   <div class="mt-[200px]">

    <section
    class="relative bg-transparent py-16 overflow-hidden"
    id="scrollytelling-section">
  
    <!-- Scrolling Images (z-10 to be on top of MadVin) -->
    <div class="absolute inset-0 mx-auto h-[150px] md:h-[500px] overflow-visible z-10 pointer-events-none">
      <Image
        src={flyve1}
        alt="Asparges"
        class="absolute w-[100px] md:w-[200px] -bottom-40 md:bottom-20 left-[150px] md:left-[50px] scroll-move"
      />
      <Image
        src={flyve2}
        alt="Vinflaske"
        class="absolute w-[100px] md:w-[200px] -bottom-20 md:bottom-20 left-[250px] md:left-[200px] scroll-move"
      />
      <Image
        src={flyve3}
        alt="Citron"
        class="absolute w-[100px] md:w-[200px] -bottom-28 md:bottom-36 left-[375px] md:left-[370px] scroll-move"
      />
      <Image
        src={flyve4}
        alt="Musling"
        class="absolute w-[100px] md:w-[200px] md:bottom-20 -bottom-28 left-[500px] md:left-[55%] scroll-move"
      />
      <Image
        src={flyve5}
        alt="Løg"
        class="absolute w-[100px] md:w-[200px] md:top-10 md:right-[250px] top-5 right-[100px] scroll-move"
      />
      <Image
        src={flyve6}
        alt="Artiskok"
        class="absolute w-[100px] md:w-[200px] -bottom-5 md:bottom-12 right-[-10px] scroll-move"
      />
    </div>
  
    <!-- MadVin Component (Background Layer) -->
    <div class="relative z-0">
      <MadVin direction="normal" />
      <MadVin direction="reverse" />
      <MadVin direction="normal" />
      <MadVin direction="reverse" />
    </div>
  
  </section>


<div>
  <h2 data-aos="fade-up" class="mx-5 md:text-center italic text-orange-500 mb-s">
    Tre opskrifter i hver kasse
  </h2>
  <div data-aos="fade-up"
    class="md:pb-8xl mx-s gap-sm grid md:grid-cols-2 md:mx-[15%] md:gap-ml">
    <p class="">
      Hos Naturvinskassen handler det ikke kun om vin – det handler om hele oplevelsen. Hver måned får du opskrifter, der passer perfekt til vinene i kassen, og skaber en smagsrejse, hvor mad og vin går op i en højere enhed.
      </p>
      <p class="">
      Hver opskrift er udviklet af dygtige kokke eller restauranter. Uanset om det er en frisk sommerret til en sprød hvidvin eller en fyldig vintermåltid til en kraftig rødvin, får du inspiration til at løfte din vinoplevelse til et nyt niveau.
      </p>
  </div>
</div>




  <!-- HVEM ER VI SEKTION -->
  <div class="bg-offwhite">
    <div class="max-w-[1000px] mx-auto mt-2xl relative w-full bg-offwhite">
      <!-- Grid Container -->
      <div class="md:grid md:grid-cols-2 md:gap-ml md:p-ml md:items-start">

        <!-- Text Section -->
        <div data-aos="fade-up" class="py-ml px-xs md:sticky md:top-[20%] md:self-start">
              <h1 class="italic mb-xxs md:mb-sm text-orange-500">
                Hvem er vi?
              </h1>
            <p class="text-body sm:text-body-lg font-opensans font-regular leading-relaxed mb-sm">
                Vi er såmænd bare Rasmus og Michael. Et makkerpar, som slog pjalterne sammen i Århus, til fælles kamp for udbredelsen af naturvin. Sammen  startede vi Reduktivt, som er vores naturvinsbutik og importfirma, i hjertet af Århus. Herfra  servicere vi tørstige og nysgerrige naturvinsdrikkere, samt mange af  landet bedste restauranter.</p>
            <p class="text-body sm:text-body-lg font-opensans font-regular leading-relaxed mb-sm">
              Men herfra opstod også ideen til Naturvinskassen. Vores lille  abonnements-hjertebarn, som med tiden har vokset sig til et  selvstændigt, nysgerrigt og evigt tørstigt væsen. Altid på jagt efter  nye oplevelser.</p>
            <p class="text-body sm:text-body-lg font-opensans font-regular leading-relaxed mb-sm">
              Til glæde for alle vores medlemmer, selvfølgelig.</p>

              <a href="/omos">     
                <Button variant="stroke">Vores mission</Button>
              </a>
        </div>
            <!-- Images -->
         <div data-aos="fade-up" class="flex flex-col md:gap-ml">
          <Image src={RasmusOgMichael} alt="Rasmus og Michael - ejere af Naturvinskassen og Reduktiv" class="w-full h-[350px] object-cover md:h-auto" />
          <Image src={ReduktivButik} alt="Billede af Reduktiv naturvin butik" class="w-full h-[350px] object-cover md:h-auto" />
          </div> 
      </div>
    </div>
  </div>

  <Trustpilot/>




  <style>
    /* Base movement for scrolling effect */
    .scroll-move {
      transition: transform 0.2s ease-out;
      opacity: 0; /* Hidden initially */
    }
  
    .visible {
      opacity: 1; /* Become visible when in the viewport */
      transition: opacity 0.5s ease-out;
    }
  
  </style>

  <script>
class Login extends HTMLElement {
  constructor() {
    super();
    this.attachShadow({
      mode: "open",
    }); //apparently slots only work with the shadow dom?
  }
  connectedCallback() {
    this.html = `<style>
      /****** LOGIN MODAL ******/
      #login-modal {
          background:black;
          position:fixed;
          width:100vw;
          height:100vh;
      }
      .loginmodal-container {
        padding: 30px;
        max-width: 350px;
        width: 100% !important;
        background-color: #F7F7F7;
        margin: 0 auto;
        border-radius: 2px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue", Arial, sans-serif;
      }
      .loginmodal-container h1 {
        text-align: center;
        font-size: 1.8em;
      }
      .loginmodal-container input[type=submit] {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        position: relative;
      }
      input[type=password] {
        height: 44px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 10px;
        -webkit-appearance: none;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        padding: 0 8px;
        box-sizing: border-box;
      }
      input[type=password]:hover {
        border: 1px solid #b9b9b9;
        border-top: 1px solid #a0a0a0;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
      }
      .loginmodal {
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        height: 36px;
        padding: 0 8px;
      }
      .loginmodal-submit {
        border: 0px;
        color: #fff;
        text-shadow: 0 1px rgba(0,0,0,0.1); 
        background-color: #4d90fe;
        padding: 17px 0px;
        font-size: 14px;
      }
      .loginmodal-submit:hover {
        border: 0px;
        text-shadow: 0 1px rgba(0,0,0,0.3);
        background-color: #357ae8;
      }
    </style>
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="loginmodal-container">
          <h1>Login</h1><br>
          <p>This is a school project</p>
          <p>The password is <code>secret</code></p>
          <form>
            <input type="password" name="pass" placeholder="Password">
            <input type="submit" name="login" class="login loginmodal-submit" value="Login">
          </form>
        </div>
      </div>
    </div>`;
    this.render();

    this.shadowRoot.querySelector("form").addEventListener("submit", (e) => {
      e.preventDefault();
      if (this.shadowRoot.querySelector("input[name=pass]").value === "kea") {
        document.querySelector("#totally-delete-me").remove();
        localStorage.setItem("iform-totally-logged-in", true);
      }
    });
  }
  render() {
    this.shadowRoot.innerHTML = this.html;
  }
}
customElements.define("iform-login", Login);
window.addEventListener("load", () => {
  if (!localStorage.getItem("iform-totally-logged-in")) {
    const div = document.createElement("div");
    div.id = "totally-delete-me";
    div.style.width = "100vw";
    div.style.height = "100vh";
    div.style.position = "fixed";
    div.style.zIndex = "9999";

    div.innerHTML = "<iform-login />";
    document.body.prepend(div);
  }
});



    document.addEventListener("scroll", () => {
      const scrollSection = document.getElementById("scrollytelling-section");
      const scrollPosition = window.scrollY;
      const images = document.querySelectorAll(".scroll-move");
      const sectionTop = scrollSection.offsetTop;
      const sectionHeight = scrollSection.offsetHeight;
      const viewportHeight = window.innerHeight;
  
      // Check if section is in the viewport
      const sectionInView =
        scrollPosition + viewportHeight > sectionTop &&
        scrollPosition < sectionTop + sectionHeight;
  
      images.forEach((img, index) => {
        const speed = 0.5 + index * 0.1;
        const horizontalOffset = (scrollPosition - sectionTop) * speed;
        const rotation = (scrollPosition - sectionTop) * (0.05 + index * 0.05); // Rotation factor based on scroll
  
        if (sectionInView) {
          img.style.transform = `translateX(${horizontalOffset}px) rotate(${rotation}deg)`;
          img.classList.add("visible");
        } else {
          img.classList.remove("visible");
        }
      });
    });
  </script>
  </MainLayout>


