---
import { Image } from 'astro:assets';
import Stjerne from "../assets/images/trustpilot_stjerne.svg";

---

<div>
    <div class="flex gap-xs">
        <Image src={Stjerne} alt="Trustpilot stjerne"></Image>
        <Image src={Stjerne} alt="Trustpilot stjerne"></Image>
        <Image src={Stjerne} alt="Trustpilot stjerne"></Image>
        <Image src={Stjerne} alt="Trustpilot stjerne"></Image>
        <Image src={Stjerne} alt="Trustpilot stjerne"></Image>
    </div>
</div>