---
import { Image } from 'astro:assets';
import Stjerne from "../assets/images/trustpilot_stjerne.svg";
import Button from "../components/Button.astro";
---
<div class="border-t border-orange-500">
    <div class="flex flex-col p-sm max-w-[1000px] mx-auto">
        <h2 class="text-center italic text-orange-500">
            Anmeldelser på Trustpilot
        </h2>
        <div class="mx-auto max-w-[500px] grid grid-cols-5 md:gap-lg gap-m p-s">
            <Image src={Stjerne} alt="" class="" />
            <Image src={Stjerne} alt="" class="" />
            <Image src={Stjerne} alt="" class="" />
            <Image src={Stjerne} alt="" class="" />
            <Image src={Stjerne} alt="" class="" />
        </div>
        <div class="flex justify-center md:justify-end mt-xs ">
            <a href=""><Button variant="stroke">Læs anmeldelser (3)</Button></a>
        </div> 
    </div>
</div>

